/* 
  Title: Achievement Tracker for Dark Souls Franchise
  Author: windowpi
  Date: Started(1-13-23) 

  Media tags need to be in line with what you are trying to change with different screen sizes!!! - For Me :)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #222;
  color: #fff;
  font-family: "Roboto", Verdana, sans-serif;
}

header {
  background-color: #303030;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
}

nav {
  display: flex;
  margin: 0;
  padding: 0.125rem 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding-right: 0.475rem;
}

.index {
  padding-left: 0.8rem;
  font-weight: bold;
  font-size: 1.5rem;
}

body {
  position: relative;
}

h1,
h2 {
  font-weight: bold;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 2px;
}

.card-body h2 {
  margin-top: -14px;
  margin-bottom: 10px;
  font-size: 30px;
}

.align-items-center {
  align-items: center;
}

.achievement-list {
  display: block;
  width: 100%;
  padding: 0 0.75rem;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0;
  word-wrap: break-word;
}

/*
  Create page breaks to resize the .achievement-list block to keep content properly visible no matter the screen size
  Also have to order lowest px - highest px to work
*/

@media (min-width: 586px) {
  .achievement-list {
    max-width: 540px;
  }
}

@media (min-width: 756px) {
  .achievement-list {
    max-width: 720px;
  }
}

@media (min-width: 1000px) {
  .achievement-list {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .achievement-list {
    max-width: 1020px;
  }
}

.card-body {
  border: solid 1px transparent;
  border-radius: 5px;
  background-color: #303030;
  padding: 1.25rem 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 0.85rem;
}

/* Mobile Display */
@media (max-width: 480px) {
  #top {
    font-size: 2.5rem !important;
  }
}

/* Need to complete card content to determine font-size :) */
/*
@media (min-width: 1200px) {
  .card-body {
    font-size: 1rem;    
  }
}
*/


.card-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px gray solid;
}

label {
  display: inherit;
  align-items: center;
  overflow-wrap: anywhere;
  max-height: max-content;
}

.card-body img {
  width: 4rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

#top {
  text-align: center;
  font-size: 3.5rem;
  padding: 2%;
}

/* all todo with index.html */

/* NOT a common way to scale images and videos proprtionally, but it works */
.container {
  width: fit-content;
  padding: 0 0.25rem;
  margin: 0 auto;
}

.container-a {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration: line-through;
  opacity: 0.4;
}

input[type=checkbox]:hover + label {
  cursor: pointer;
}