/* 
  Title: Achievement Tracker for Dark Souls Franchise
  Author: windowpi
  Date: Started(1-13-23) 
*/
@font-face {
  font-family: "Space Mono Regular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #222;
  color: #fff;
  font-family: 'Space Mono Regular', monospace;
}

header {
  background-color: #303030;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
}

nav {
  margin: 0;
  padding: 5px 0;
}

nav li {
  display: inline-block;
}

.index {
  padding-left: 15px;
  font-weight: 600;
  font-size: 1.25rem;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
  padding-right: 5px;
}

h1,
h2 {
  font-weight: bold;
  margin: 0;
}

.card-body h2 {
  margin-top: -14px;
  margin-bottom: 10px;
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding-left: 2px;
}

.inline {
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.achievement-list {
  width: 400px;
  text-align: left;
  margin: 0 auto;
  letter-spacing: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  border: solid 1px transparent;
  border-radius: 5px;
  background-color: #303030;
  padding: 10px 5px;
  margin-bottom: 12px;
  font-size: 14px;
}

#top {
  text-align: center;
}

#img {
  display: block;
  margin: 0 auto;
}