/* 
    Title: Achievement Tracker for Dark Souls Franchise
    Author: Justin Ludwick
    Date: Started(1-13-23) 
*/
* {
    font-family: 'Roboto Mono', monospace;
    background-color: #313041;
    color: white;
    font-weight: lighter;
}


h1, h2 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

.achievement-list h2 {
    background-color: hsl(0, 0%, 20%);
    color: rgb(255, 255, 255);
    margin-right: 75%;
    text-align: left;
}

.achievement-list li {
    background-color: hsl(0, 2%, 18%);
    margin-right: 75%;
}

.achievement-list {
    font-size: small;
}

#checkbox {
    background-color: hsl(0, 2%, 18%);
}
